/* apply a natural box layout model to all elements, but allowing components to change */
html {
  background-color: #D8DBE2;
  box-sizing: border-box;
  font-size: 20px;
  Font-family: Dejavu Sans, Arial, Verdana, sans-serif;
  /* Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-family: 'Roboto', sans-serif; */
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
}

#top-bar {
  font-family: 'Comfortaa', cursive;
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 40px;
  height: 10vh;
}

#content-container {
  height: 90vh;
  /* background-color: rgb(228, 228, 228); */
}

#in-out-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  /* background-color: rgb(228, 228, 228); */
}

#unit-selector {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 200px;
}
.unit-type-container {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  transition: all .2s ease-in-out;
}
.unit-type-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.unit-type-container.selected {
  border-radius: 20px;
  color: darkblue;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.unit-type {
  display: inline;
  text-transform: capitalize;
  font-size: 24px;
  padding: 10px;
}

#left-container, #right-container {
  /* border-style: solid;
  border-width: 2px; */
  background-color: #A9BCD0;
  display: inline-block;
  /* height: 30em; */
  /* padding-bottom: 10px; */
  width: 30%;
  /* margin-top: 2em; */
}

/***********************************/
/***************INPUT***************/
/***********************************/

#input-field-left, #input-field-right {
  width: 100%;
  margin: auto;
  height: 60px;
  font-size: 40px;
  text-align: center;
  border-width: 0;
}

#input-field-left, #left-container {
  border-top-left-radius: 10px;
}

#input-field-right, #right-container {
  border-top-right-radius: 10px;
}

#left-container {
  border-bottom-left-radius: 10px;
}

#right-container {
  border-bottom-right-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
/* remove arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
/* remove arrows*/
input[type=number] {
  -moz-appearance: textfield;
}

/***********************************/
/***************UNITS***************/
/***********************************/
.unit-subtype-left:last-child {
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
}

.unit-subtype-right:last-child {
  padding-bottom: 20px;
  border-bottom-right-radius: 10px;
}

.unit-subtype-left, .unit-subtype-right {
  list-style: none;
  text-align: center;
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.unit-subtype-left:hover, .unit-subtype-right:hover {
  background-color: #cdcdcd;
}
.unit-subtype-left.selected, .unit-subtype-right.selected {
  background-color: #e0e9ea;
}